{# templates/macros/cards.html #}
{% macro relevant_pages(title, description, items, image_name,
  img_width=303, img_height=100, img_alt="",
  title_href=None, link_image=True ) -%}
  {% set items_list = items if items is iterable and items is not string else [] %}
  {% set first_href = title_href or (items_list[0].href if items_list else "#0") %}
  <div class="ons-card">
    {% if link_image %}
      <a href="{{ first_href }}" class="ons-card__link items-center">
        {% if image_name %}
          <img class="ons-card__image ons-u-mb-s"
               width="{{ img_width }}"
               height="{{ img_height }}"
               src="{{ url_for('static', filename='assets/' ~ image_name) }}"
               alt="{{ img_alt }}"
               loading="lazy" />
        {% endif %}
        <h3 class="ons-card__title ons-u-fs-m">{{ title }}</h3>
      </a>
    {% else %}
      {% if image_name %}
        <img class="ons-card__image ons-u-mb-s"
             width="{{ img_width }}"
             height="{{ img_height }}"
             src="{{ url_for('static', filename='assets/' ~ image_name) }}"
             alt="{{ img_alt }}"
             loading="lazy" />
      {% endif %}
      <h3 class="ons-card__title ons-u-fs-m">
        <a href="{{ first_href }}" class="ons-card__link">{{ title }}</a>
      </h3>
    {% endif %}
    {% if description %}<p class="ons-card__body">{{ description }}</p>{% endif %}
    {% if items_list %}
      <ul class="ons-list ons-list--dashed">
        {% for item in items_list %}
          <li class="ons-list__item">
            <a href="{{ item.href }}" class="ons-list__link">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{%- endmacro %}
