<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate Health Data Platform</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />

    <script src="{{ url_for('static', filename='js/footer.js') }}" type="text/javascript" defer></script>

    <script src="{{ url_for('static', filename='js/header.js') }}" type="text/javascript" defer></script>

  </head>
  <body class="bg-gray-200">

    <header-component></header-component>

    <div class="bg-gray-100">

      <div
        id="class"
        class="container overflow-auto mx-auto w-2/3 whitespace-normal bg-white p-6 rounded-lg shadow-lg space-y-7"
      >
        <div class="bg-blue-200 py-5 px-5 p-6 space-y-5">
          <h1 class="text-lg font-bold">&#8505; Data Explorer information</h1>
          <p class="mb-2 text-lg text-black">
            The Data Explorer contains all of the climate-health indicators
            stored on our database. You can explore each indicator via the
            dropdown menu and view disaggragated data by clicking on the country
            of interest.
          </p>

          <p class="mb-2 text-lg text-black">
            For more information on each indicator see the
            <a
              href="{{ url_for('data_bp.framework') }}"
              class="text-blue-800 dark:text-blue-500 hover:underline"
              >Framework</a
            >
            page above.
          </p>

          <p class="mb-2 text-lg text-black">
            If you want to upload an indicator please see the
            <a
              href="{{ url_for('data_bp.upload') }}"
              class="text-blue-800 dark:text-blue-500 hover:underline"
              >Upload</a
            >
            tab or click on a country below.
          </p>
        </div>
        <div
          class="flex mx-auto inline-block items-center text-center mb-5 gap-5 rounded"
        >
          <form action="{{ url_for('data_bp.dummy_data_toggle') }}" method="post">
            <div
              class="flex mx-auto text-lg inline-block items-center mb-5 gap-5 rounded"
            >
              <label class="text-lg whitespace-nowrap" for="dummy_toggle"
                >Click box and reload to use dummy data:</label
              >
              <input class="w-8 h-8 text-blue-600 bg-gray-100 border-gray-300
              rounded focus:ring-blue-500 focus:ring-2 dark:bg-gray-700"
              type="checkbox" id="dummy_toggle" name="dummy_toggle" {{ 'checked'
              if global_dummy_data else '' }} />
              <input
                class="text-xl px-4 py-2 bg-green-600 text-white rounded hover:bg-green-500 transition"
                type="submit"
                value="Reload"
              />
            </div>
          </form>
          <p
            class="text-green-600 text-lg text-center items-center font-bold mb-5"
          >
            {{ message }}
          </p>
        </div>

        <hr class="w-1/2 h-px my-8 bg-gray-500 border-0 dark:bg-gray-700" />

        <label for="indicator_dropdown" class="text-lg"
          >Select indicator from database:</label
        >
        <select id="indicator_dropdown" class="text-lg"></select>
      </div>

      <div
        class="map-container overflow-auto mx-auto w-2/3 whitespace-normal rounded-lg bg-white p-6 space-y-7"
      >
        <div id="map" style="width: 100%; height: 300px"></div>
        <div id="plotlyChart" style="height: 400px"></div>
      </div>
    
      <footer-component></footer-component>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/data_explorer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
  </body>
</html>
