<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Climate Health Data Platform</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
              rel="stylesheet" />
        <link rel="stylesheet"
              href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <link href="{{ url_for('static', filename='css/styles.css') }}"
              rel="stylesheet" />
        <script src="{{ url_for('static', filename='js/footer.js') }}"
                type="text/javascript"
                defer></script>
        <script src="{{ url_for('static', filename='js/header.js') }}"
                type="text/javascript"
                defer></script>
    </head>
    <body class="bg-gray-200">
        <header-component>
        </header-component>
        <div class="bg-gray-100">
            <div class="container mx-auto w-2/3 whitespace-normal bg-white p-6 rounded-lg shadow-lg space-y-7">
                <div class="bg-blue-200 py-5 px-5 p-6 space-y-5">
                    <h1 class="text-lg font-bold">&#8505; Upload information</h1>
                    <p class="text-lg">
                        This page allows you to upload climate and health indicators to our
                        platform. Uploads will be verified by our administration team and
                        displayed on the
                        <a href="{{ url_for('data_bp.framework') }}"
                           class="text-blue-800 dark:text-blue-500 hover:underline">data explorer</a>.
                    </p>
                    <p class="text-lg">The uploaded dataset should have columns in this format:</p>
                    <div>
                        <table class="w-full text-left items-center text-center rounded-lg rtl:text-right text-black-500 border-gray">
                            <thead class="text-sm text-black bg-gray-200">
                                <tr>
                                    <th class="px-3 py-2 bg-gray-300">indicator_id</th>
                                    <th class="px-3 py-2 bg-gray-300">unit_time</th>
                                    <th class="px-3 py-2 bg-gray-300">value_time</th>
                                    <th class="px-3 py-2 bg-gray-300">indicator_value</th>
                                    <th class="px-3 py-2 bg-gray-300">indicator_unit</th>
                                    <th class="px-3 py-2 bg-gray-300">geography</th>
                                    <th class="px-3 py-2 bg-gray-300">sub_geography</th>
                                    <th class="px-3 py-2 bg-gray-300">sex</th>
                                    <th class="px-3 py-2 bg-gray-300">ineq_index</th>
                                    <th class="px-3 py-2 bg-gray-300">age</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-white px-3 py-3 bg-gray-50 text-sm">
                                    <td class="px-3 py-2 bg-white">1B</td>
                                    <td class="px-3 py-2 bg-white">yearly</td>
                                    <td class="px-3 py-2 bg-white">2023</td>
                                    <td class="px-3 py-2 bg-white">1.4</td>
                                    <td class="px-3 py-2 bg-white">relative risk of mortality</td>
                                    <td class="px-3 py-2 bg-white">united kingdom</td>
                                    <td class="px-3 py-2 bg-white">north west</td>
                                    <td class="px-3 py-2 bg-white">f</td>
                                    <td class="px-3 py-2 bg-white">None</td>
                                    <td class="px-3 py-2 bg-white">75+</td>
                                </tr>
                                <tr class="border-white px-2 py-2 bg-white text-sm">
                                    <td class="px-3 py-2 bg-white">1B</td>
                                    <td class="px-3 py-2 bg-white">yearly</td>
                                    <td class="px-3 py-2 bg-white">2022</td>
                                    <td class="px-3 py-2 bg-white">1.2</td>
                                    <td class="px-3 py-2 bg-white">relative risk or mortality</td>
                                    <td class="px-3 py-2 bg-white">united kingdom</td>
                                    <td class="px-3 py-2 bg-white">north west</td>
                                    <td class="px-3 py-2 bg-white">f</td>
                                    <td class="px-3 py-2 bg-white">None</td>
                                    <td class="px-3 py-2 bg-white">75+</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h2 class="mb-2 text-lg text-black">
                        You can select the corresponding column names in your uploaded
                        dataset below. See the
                        <a href="{{ url_for('data_bp.framework') }}"
                           class="text-blue-800 dark:text-blue-500 hover:underline">framework</a>
                        to select the correct indicator ID.
                    </h2>
                </div>
                <form method="POST"
                      action="/reshape_input_data"
                      enctype="multipart/form-data">
                    <!-- Tab Content -->
                    <div class="mt-6 space-y-7">
                        <p class="text-green-600 font-bold">{{ message }}</p>
                        <h1 class="text-xl mb-4 font-semibold">Upload your CSV and select columns</h1>
                        <input required
                               type="file"
                               accept=".csv"
                               name="file"
                               id="csvInput"
                               aria-describedby="helper-text1"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        <p id="helper-text1"
                           class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                            Upload your .CSV file. A 5 row preview will display below.
                        </p>
                        <div id="tableDiv"
                             class="table-wrapper mx-auto mt-8 bg-white p-6 space-y-7">
                            <!-- <h1 class="text-xl text-gray-800 mb-4 font-semibold">
                Upload preview (first 5 rows)
              </h1> -->
                            <table id="previewTable" class="html-table">
                            </table>
                        </div>
                    </div>
                    <div>
                        <label for="indicatorName"
                               class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                            Indicator name (required):
                        </label>
                        <select required
                                type="indicatorName"
                                name="indicatorName"
                                id="indicatorName"
                                aria-describedby="helper-text1"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option disabled selected value>-- select an option --</option>
                            <option value="heat-and-cold">heat-and-cold</option>
                            <option value="mental-health">mental-health</option>
                            <option value="air-pollution">air-pollution</option>
                            <option value="respiratory-illness">respiratory-illness</option>
                            <option value="chemical-contaminants">chemical-contaminants</option>
                            <option value="malaria">malaria</option>
                            <option value="flooding">flooding</option>
                            <option value="healthcare-systems">healthcare-systems</option>
                            <option value="waterborne-diseases">waterborne-diseases</option>
                            <option value="NCD">NCD</option>
                        </select>
                        <p id="helper-text6"
                           class="mt-2 text-xl text-gray-500 dark:text-gray-400">Select indicator name.</p>
                    </div>
                    <div>
                        <label for="country"
                               class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                            Country (required):
                        </label>
                        <select required
                                type="text"
                                name="country"
                                id="country"
                                aria-describedby="helper-text1"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option disabled selected value>-- select an option --</option>
                            <!-- options will be populated dynamically -->
                        </select>
                        <p id="helper-text2"
                           class="mt-2 text-xl text-gray-500 dark:text-gray-400">Select a country.</p>
                    </div>
                    <div class="mt-2 text-xl">
                        <input type="checkbox"
                               onclick="DoCheckUncheckDisplay(this,'subgeoOptions')"
                               style="margin: 0" />
                        Is data disaggregated by region?
                    </div>
                    <div id="subgeoOptions" class="mt-6 space-y-7" style="display: none">
                        <div>
                            <label for="subgeoCol"
                                   class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                                Sub-geography column :
                            </label>
                            <select type="text"
                                    name="subgeo"
                                    id="subgeoCol"
                                    aria-describedby="helper-text1"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <!-- options will be populated dynamically -->
                            </select>
                            <p id="helper-text3"
                               class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                                Select sub-geography column (e.g. region, province, district,
                                county, local authority).
                            </p>
                        </div>
                        <br />
                        <div>
                            <label for="subgeotypeCol"
                                   class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                                Sub-geography type column:
                            </label>
                            <select type="text"
                                    name="subgeotype"
                                    id="subgeotypeCol"
                                    aria-describedby="helper-text1"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <!-- options will be populated dynamically -->
                            </select>
                            <p id="helper-text4"
                               class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                                Select sub-geography type column.
                            </p>
                        </div>
                    </div>
                    <div>
                        <label for="exposureCol"
                               class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                            Exposure value column:
                        </label>
                        <select type="text"
                                name="exposure"
                                id="exposureCol"
                                aria-describedby="helper-text1"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <!-- options will be populated dynamically -->
                        </select>
                        <p id="helper-text5"
                           class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                            Select exposure value column. This will be a number.
                        </p>
                    </div>
                    <div>
                        <label for="outcomeCol"
                               class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                            Outcome value column (required):
                        </label>
                        <select required
                                type="text"
                                name="outcome"
                                id="outcomeCol"
                                aria-describedby="helper-text1"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <!-- options will be populated dynamically -->
                        </select>
                        <p id="helper-text7"
                           class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                            Select outcome value column. This will be a number.
                        </p>
                    </div>
                    <div class="mt-2 text-xl">
                        <input type="checkbox"
                               onclick="DoCheckUncheckDisplay(this,'outcomeOptions')"
                               style="margin: 0" />
                        Are there lower and upper values for outcome?
                    </div>
                    <div id="outcomeOptions" class="mt-6 space-y-7" style="display: none">
                        <div>
                            <label for="lowerCol"
                                   class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                                Outcome value lower column:
                            </label>
                            <select type="text"
                                    name="lower"
                                    id="lowerCol"
                                    aria-describedby="helper-text1"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <!-- options will be populated dynamically -->
                            </select>
                            <p id="helper-text8"
                               class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                                Select outcome value lower column (e.g. lower confidence
                                interval). This will be a number.
                            </p>
                        </div>
                        <div>
                            <label for="higherCol"
                                   class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                                Outcome higher value column:
                            </label>
                            <select type="text"
                                    name="higher"
                                    id="higherCol"
                                    aria-describedby="helper-text1"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <!-- options will be populated dynamically -->
                            </select>
                            <p id="helper-text9"
                               class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                                Select outcome value higher column (e.g. higher confidence
                                interval). This will be a number.
                            </p>
                        </div>
                    </div>
                    <div>
                        <label for="timeSelection"
                               class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">Timescale:</label>
                        <label class="text-xl">
                            <input type="radio" name="timescale" value="Daily" class="text-xl" />
                            Daily time series
                            <br />
                        </label>
                        <label class="text-xl">
                            <input type="radio" name="timescale" value="Yearly" class="text-xl" />
                            Yearly time series
                            <br />
                        </label>
                        <label class="text-xl">
                            <input type="radio" name="timescale" value="Yearly" class="text-xl" />
                            Not a time series
                            <br />
                        </label>
                        <p id="helper-text10"
                           class="mt-2 text-xl text-gray-500 dark:text-gray-400">Select indicator data timescale.</p>
                    </div>
                    <div>
                        <label for="startDate"
                               class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">Start date:</label>
                        <input type="date"
                               name="start"
                               id="startDate"
                               aria-describedby="helper-text1"
                               value="2000-01-01"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        <p id="helper-text11"
                           class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                            If a daily time series, enter exact date. Otherwise, enter any
                            valid date within correct year.
                        </p>
                    </div>
                    <div>
                        <label for="endDate"
                               class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">End date:</label>
                        <input type="date"
                               name="end"
                               id="endDate"
                               aria-describedby="helper-text1"
                               value="2000-01-01"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        <p id="helper-text12"
                           class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                            If a daily time series, enter exact date. Otherwise, enter any
                            valid date within correct year.
                        </p>
                    </div>
                    <div>
                        <label for="dataPermission"
                               class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                            Choose data permissions (required):
                        </label>
                        <select required
                                type="text"
                                name="permissions"
                                id="dataPermissions"
                                aria-describedby="helper-text1"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option disabled selected value>-- select an option --</option>
                            <option value="public">Public</option>
                            <option value="Private">Private</option>
                        </select>
                        <p id="helper-text13"
                           class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                            Specify whether you wish to make the data public, or only
                            available to approved users.
                        </p>
                    </div>
                    <div class="mt-2 text-xl">
                        <input type="checkbox"
                               onclick="DoCheckUncheckDisplay(this,'disaggOptions')"
                               style="margin: 0" />
                        Is data disaggregated by sex, age group, socioeconomic group, or
                        degree of urbanisation?
                    </div>
                    <div id="disaggOptions" class="mt-6 space-y-7" style="display: none">
                        <div>
                            <label for="sexCol"
                                   class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                                Select sex column:
                            </label>
                            <select type="text"
                                    name="sex"
                                    id="sexCol"
                                    aria-describedby="helper-text1"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </select>
                            <p id="helper-text14"
                               class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                                Select sex column in data for disaggregation.
                            </p>
                        </div>
                        <div>
                            <label for="ageCol"
                                   class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                                Select age group column:
                            </label>
                            <select type="text"
                                    name="age"
                                    id="ageCol"
                                    aria-describedby="helper-text1"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </select>
                            <p id="helper-text15"
                               class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                                Select age group column in data for disaggregation.
                            </p>
                        </div>
                        <div>
                            <label for="socioCol"
                                   class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                                Select socioeconomic group column:
                            </label>
                            <select type="text"
                                    name="socio"
                                    id="socioCol"
                                    aria-describedby="helper-text1"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </select>
                            <p id="helper-text16"
                               class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                                Select socioeconomic group column in data for disaggregation.
                            </p>
                        </div>
                        <div>
                            <label for="urbanCol"
                                   class="block mb-5 text-xl font-medium text-gray-900 dark:text-white">
                                Select degree of urbanisation column:
                            </label>
                            <select type="text"
                                    name="urban"
                                    id="urbanCol"
                                    aria-describedby="helper-text1"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </select>
                            <p id="helper-text17"
                               class="mt-2 text-xl text-gray-500 dark:text-gray-400">
                                Select degree of urbanisation column in data for disaggregation.
                            </p>
                        </div>
                    </div>
                    <button id="uploadBtn"
                            class="text-xl px-4 py-2 bg-blue-700 text-white rounded hover:bg-blue-500 transition">
                        Upload Data <i class="fa fa-upload"></i>
                    </button>
                </form>
            </div>
            <!-- The Modal -->
            <!--  <div id="myModal" class="fixed inset-0 flex items-center justify-center p-4 hidden">
          <div class="modal-bg bg-gray-600 bg-opacity-75 absolute inset-0"></div>
          <div class="modal-content text-3xl relative bg-white p-6 rounded-lg shadow-lg w-96">
            <span id="closeModalBtn" class="absolute top-1 right-1 text-gray-900 cursor-pointer">&times;</span>
            <p>Your data has been uploaded! &#127881;</p>
          </div>
        </div>
</div> -->
            <footer-component>
            </footer-component>
        </div>
        <!-- PapaParse Library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
        <!-- Plotly Library -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- Your main JavaScript -->
        <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
        <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
    </body>
</html>
